* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}


.image-choisie {
  width: 30rem;
}

.image {
  width: 2rem;
}

.type {
  width: 5rem;
}



svg {
  width: 1rem;
}


body {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 1.25em;
  text-align: center;
  background-color: #ef3e3e;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  padding: 10px;
}

.pokemon {
  background: #292929;
  padding: 10px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.pokemon-list {
  height: 900px;
  overflow-y: auto;
  overscroll-behavior: contain;

}

.printpokemonbar {
  background: #292929;
  padding: 30px;
}

.pokemon-evolution-id {
  align-self: flex-start;
  order: 1;
}

.pokemonevolved {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: #abbaba;
  color: #292929;
}


/* responsivité */

@media (width <=600px) {
  main {
    grid-template-columns: 1fr;
    padding: 5px;
  }

  .pokemon {
    margin: 5px;
  }

  .pokemon-detail {
    align-self: center;
    order: -2;
  }


  .image-choisie {
    width: 10rem;
  }

  .type {
    width: 4rem;
  }

}